    <html>
        <head>
            <title>Django Kikazo and Iza blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Kikazo and Iza Blog</a></h1>
            </div>

            <div>
                <p>published: 25.06.2018, 14:17</p>
                <h2><a href="">My first post</a></h2>
                <p>Holi que onda jajajajaja. Te Amo !!!!!!!!!</p>
            </div>

            <div>
                <p>published: 25.06.2018, 14:20</p>
                <h2><a href="">My second post</a></h2>
                <p>Ah JiJO !!!!!.</p>
            </div>
        </body>
    </html>
